@{
    ViewData["Title"] = "Add Entry";
}
<link href="~/lib/bootstrap/css/styles.css" rel="stylesheet" />


<h1>Add Entry</h1>

<form method="post">

    <!--Provides validation of fields-->
    <!--<div asp-validation-summary="All"></div>-->
    <!--foreach loop calls the Category model-->
    <!--@@foreach (Category c in ViewBag.Categories)
        {
            //loop then goes through each CategoryName in Category, the ID is connected to the selected CategoryName through the "value" syntax.
            <option value="@@c.CategoryID">@@c.CategoryName</option>
        }

    </select> <br />-->
    <!--<label asp-for="Title">Title:</label>
    <input type="text" id="title" asp-for="Title" /> <br />


    <label asp-for="Year">Year:</label>
    <input type="number" id="year" asp-for="Year" /> <br />

    <label asp-for="Director">Director:</label>
    <input type="text" id="director" asp-for="Director" /> <br />-->
    <!--Drop down menu for rating-->
    <!--<label asp-for="Rating">Rating:</label>
    <select class="form-control" asp-for="Rating" id="rating">
        <option>Select Rating</option>
        <option>G</option>
        <option>PG</option>
        <option>PG-13</option>
        <option>R</option>
    </select>
    <br />-->
    <!--True/False options for Edited field-->
    <!--<label asp-for="Edited">Edited:</label>
    <select class="form-control" asp-for="Edited" id="edited">
        <option>Edited?</option>
        <option>True</option>
        <option>False</option>
    </select>

    <br />

    <label asp-for="LentTo">Lent To:</label>
    <input type="text" id="lentTo" asp-for="LentTo" /> <br />

    <label asp-for="Notes">Notes:</label>
    <input type="text" id="Notes" asp-for="Notes" /> <br />-->

    <input type="submit" value="Make Entry" /> <br />
</form>