@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Entertainer Bookings R Us</h1>
    <p>Welcome! The entertainer of your dreams is a click away!</p>
</div>
