
@{
    ViewData["Title"] = "List Display";
}

@model List<Entertainer>

    <link href="~/lib/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <h1>Entertainer List</h1>
    <table class="table table-bordered table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>EntStageName</td>
                <td>More Info</td>
            </tr>
        </thead>

        <tbody>
            <!--foreach loop iterates through all the attributes in the model and displays them-->
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.EntStageName</td>

                    <!--asp-route-movieid connect the MovieID to the entry that is clicked-->
                    <td><a asp-controller="Home" asp-action="Details" asp-route-entertainerID="@x.EntertainerID">Details</a> </td>

                    @*asp-route-movieid="@x.MovieID">Delete</a>*@
                    @*asp-route-movieid="@x.MovieID">*@

                </tr>
            }

        </tbody>
    </table>
    <form method="get" asp-action="Add">
        <button >Add Entertainer</button>
    </form>
